{%- from "./modal.njk" import modal -%}
{%- for training in trainings | sort(false, false, 'name') -%}
  <div class="card mb-3">
    <div class="card-content">
      <h3 class="title is-4">{{ training.name }}</h3>
      <p class="subtitle is-5">
        <span class="icon" aria-label="par"><i class="fas fa-user-circle"></i></span>
        par {{ training.users | join(', ', 'name') }}
      </p>
      <div class="content">{{ training.summary | safe }}</div>
      <div class="block">
        <strong>Public(s)</strong><br>
        <div class="content">
          {{- training.audience | safe | striptags -}}
          {% if training.conditions %}({{ training.conditions | safe | striptags }}){% endif %}
        </div>
      </div>
      <div class="block">
        <strong>Objectifs</strong><br>
        <div class="content">
          À l'issue de cette formation, les participant·es seront capables de :<br>
          {{ training.objectives | safe }}
        </div>
      </div>
      {%- if training.notes | striptags -%}
      <div class="block">
        <strong>Notes</strong><br>
        <div class="content">
          {{ training.notes | safe }}
        </div>
      </div>
      {%- endif -%}
      {{- modal(ref=training.ref, content=training.details) -}}
      {{- modal(ref=training.ref, content=training.material, type='material') -}}
      {{- modal(ref=training.ref, content=training.organization, type='organization') -}}
      {{- modal(ref=training.ref, content=training.pedagogy, type='pedagogy') -}}
      <ul class="discrete">
        {%- if training.amount_cents -%}
        <li>
          <strong>Prix catalogue</strong> : {{ training.amount_cents / 100 }}€ (hors frais de déplacement, d'hébergement, etc.)
          {{ '(prix libre possible)' if training.open_price }}
        </li>
        {%- endif -%}
        {%- if training.duration -%}
        <li>
          <strong>Durée</strong> : {{ training.duration }}
        </li>
        {%- endif -%}
        <li>
          <a href="#training-content-{{ training.ref }}" class="button mr-3">
            <span>Programme</span>
          </a>
          {%- if training.pedagogy -%}
          <a href="#training-pedagogy-{{ training.ref }}" class="button mr-3">
            <span>Pédagogie</span>
          </a>
          {%- endif -%}
          {%- if training.material -%}
          <a href="#training-material-{{ training.ref }}" class="button mr-3">
            <span>Matériel</span>
          </a>
          {%- endif -%}
          {%- if training.organization -%}
          <a href="#training-organization-{{ training.ref }}" class="button mr-3">
            <span>Organisation des cours</span>
          </a>
          {%- endif -%}
        </li>
      </ul>
    </div>
    <footer class="card-footer is-align-items-start">
     <strong class="card-footer-item">Prochaines dates</strong>
      {%- if training.training_actions.length -%}
      {%- for action in training.training_actions -%}
      <p class="card-footer-item">
        <a href="{{ (training.users[0] | findTrainingProfile).email }}?subject={{ ['Question ou inscription à propos de la formation du ', action.training_sessions[0].start_at | toDate, ' : ', training.name] | join | urlencode }}">
          {{- action.training_sessions[0].start_at | toDate -}}
          <span class="icon ml-2" aria-label="{{ '(en ligne)' if action.online else '(sur place)' }}">
            <i class="fas fa-{{ 'wifi' if action.online else 'users' }}"></i>
          </span>
        </a>
      </p>
      {%- endfor -%}
      {%- else -%}
      <p class="card-footer-item is-flex-grow-1 is-flex-direction-row is-justify-content-flex-start">
        Pas de date programmée. <a href="mailto:{{ (training.users[0] | findTrainingProfile).email }}?subject={{ ['Une formation ', training.name ,' à venir ?'] | join | urlencode }}">On s'en parle ?</a>
      </p>
      {%- endif -%}
    </footer>
  </div>
{%- endfor -%}
