{% macro modal (ref, content, type = 'content') %}
<div class="modal" id="training-{{ type }}-{{ ref }}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card">
      <div class="modal-card-body">
        <div class="content">{{ content | safe }}</div>
      </div>
      <div class="modal-card-foot">
        <a href="#catalogue">Fermer</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
