---
eleventyComputed:
  title: '{{ person.first_name }} {{ person.last_name }}'
  eleventyNavigation:
    key: '{{ person.first_name }} {{ person.last_name }}'
    parent: Les entrepreneur·es
permalink: "/entrepreneures/{{ [person.first_name, person.last_name] | join(' ') | slugify }}/index.html"
pagination:
  data: persons
  size: 1
  alias: person
  # via https://github.com/11ty/eleventy-navigation/issues/24#issuecomment-753378277
  addAllPagesToCollections: true
---

<article class="box directory-entry" data-id="{{ loop.index0 }}">
  <div class="media">
    {%- if person.photo or person.logo -%}
    <figure class="media-left ml-0">
      <p class="image is-256x256 is-contained">
        <img src="{{ person.photo or person.logo }}" alt="Photo de {{ person.first_name }}">
      </p>
    </figure>
    {%- endif -%}
    <div class="media-content">
      <h3 class="title">
        {{ person.first_name }} {{ person.last_name }}
      </h3>
      <div class="content">{{ person.presentation | safe }}</div>
      <ul class="discrete">
      {%- if person.title -%}
      <li>
        <strong>Activités/Métiers</strong> : {{ person.title }}
      </li>
      {%- endif -%}
      {%- if person.website -%}
      <li>
        <span class="icon"><i class="fas fa-home"></i></span>
        <a href="{{ person.website }}" target="_blank" rel="noreferrer noopener">{{ person.website }}</a>
      </li>
      {%- endif -%}
      {#- if person.email -%}
      <li>
        <strong>Email</strong> : <a href="mailto:{{ person.email }}">{{ person.email }}</a>
      </li>
      {% endif #}
      {#- if person.phone -%}
      <li>
        <strong>Téléphone</strong> : <a href="tel:{{ person.phone }}">{{ person.phone }}</a>
      </li>
      {%- endif -#}
      </ul>
    </div>
  </div>
</article>

