<div class="columns no-content is-flex-wrap-wrap">
  {% for accompagnant in accompagnants %}
  <div class="column">
    {%- set person = ncUsers | where('id', accompagnant.id) | first -%}
    <div class="card">
      <div class="card-content">
        <a href="{{ accompagnant.form }}" target="_blank">
          <div class="media is-align-items-center">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{ nextcloudUrl }}/avatar/{{ accompagnant.id }}/64" alt="Placeholder image" lazy>
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-5">{{ accompagnant.name }}</p>
              {%- if person.headline %}<p class="subtitle is-6">{{ person.headline }}</p>{% endif -%}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
