@charset "utf-8";

$family-sans-serif: Quicksand, sans-serif;
$primary: #2B7F7C;
$primary-decoration: #3DB5AF;

$red: #FF3C50;
$grey-dark: #3A3A3A;
$yellow: #ffc600;
$black: #000;

$body-size: 1em;
$gap: 16px;
$body-line-height: 1.25;
$body-weight: 500;

$size-1: 2rem;
$size-2: 1.5rem;
$size-3: 1.25rem;
$size-4: 1rem;
$size-5: 1rem;
$size-6: 1rem;

$container-max-width: 792px;

/* navbar */
$navbar-item-color: $grey-dark;
$navbar-item-active-color: #000;

$link: $primary;
$background: #fcfcfc;
$scheme-main: $background;
$scheme-invert: #3A3A3A;
$input-placeholder-color: $grey-dark;

$section-padding: 3rem 0;
$section-padding-desktop: 3rem 0;

$input-background-color: #fff;
$input-border-color: $grey-dark;

$shadow: rgba($scheme-invert, 0.25) 0px 4px 8px -2px, rgba($scheme-invert, 0.08) 0px 0px 0px 1px;
$dimensions: 16 24 32 48 64 96 128 256 512;

@font-face {
  font-family: Quicksand;
  font-weight: 100 1000;
  font-style: normal;
  src: local("Quicksand"),
    url(/css/fonts/Quicksand-VariableFont_wght.woff2) format("woff2");
}

@import "bulma.sass";
@import "main.scss";
