/* generic overrides */

ol {
  list-style-position: outside;
  margin-left: 2rem;
}

a {
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

h4, .is-size-4, .is-4 {
  font-weight: bold;
}

.is-sr-only-focusable:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container.is-max-desktop {
  margin-left: 0;
  margin-right: 0;
}

ol.discrete,
ul.discrete {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

/* Liens d'évitement */
.skiplinks {
  padding: 0;
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
  }
  a {
    background: $yellow;
    color: $black;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
    text-align: center;
  }
}

/* Navbar */
.navbar .container {
  flex-direction: column;

  a {
    text-decoration: none;
    color: unset;
    &:not([aria-current="page"]):hover,
    &:not([aria-current="page"]):focus {
      text-decoration: underline;
    }
  }
  a[aria-current="page"] {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: $primary-decoration;
    text-decoration-thickness: 2px;
  }
  .navbar-brand {
    align-items: center;
    .navbar-item {
      padding: 0;
      max-width: 80%;
    }
  }

  .navbar-menu {
    margin-left: 0;
    margin-right: 0;
  }
}

.navbar-brand .logo {
  max-height: 5rem;
}

.breadcrumb a[aria-current="page"] {
  text-decoration: none;
}

/**
 * Custom button
 */
.button.is-cta {
  @extend .is-text;
  font-weight: bold;
  text-decoration: underline $primary-decoration 3px;
  height: auto;
  white-space: normal;
  text-align: left;
  margin-left: 1rem;
  position: relative;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:before {
    content: ">";
    position: absolute;
    left: 0;
    color: $red;
    padding-right: 0.3em;
    text-decoration: none;
    transition: padding 0.2s;
  }
  &:hover:before {
    padding-left: 0.3rem;
    padding-right: 0;
  }
}

/**
 * Invert .content
 */
.content .no-content figure {
  margin: 0;
}

/**
 * MAIN
 */
main.container:before {
  content: "";
  display: block;
  border-top: 1px solid $grey-lighter;
  margin: 0 (-$gap) 1rem;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: $gap;
    padding-right: $gap;
  }
}


@media screen and (max-width: 769px) {
  .media {
    flex-direction: column;
  }
}

/**
 * Override cards
 */
.card-footer-item {
  align-items: flex-start;
  align-self: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-direction: column;
}

.modal:target {
  display: flex;
}

.image.is-contained img {
  max-height: 100%;
  object-fit: contain;
}

form div.message.is-hidden:target {
  display: block !important;
}

/**
 * FORMS
 */
.form {
  background-color: darken($white-ter, 5%);
  border-radius: $control-radius * 2;
  padding: 2rem;
}

.form .label.required::after {
  content: "*";
  font-size: 1.1em;
  font-weight: bold;
  color: $red;
  margin-left: 0.1em;
  vertical-align: middle;
}

.control.is-vertical .checkbox,
.control.is-vertical .radio {
  display: block;
  margin-bottom: .5rem;
}

/**
 * Agenda
 */
.tile.is-ancestor.agenda {
  flex-wrap: wrap;
  row-gap: 1rem;
}

.tile .card--event {
  width: 100%;
}

@media screen and (max-width: 769px) {
  .tile {
    margin-bottom: 1rem;
  }
}

/**
 * Les temps forts
 */
.card.card--post a {
  display: block flex;
  width: 100%;
  text-decoration: none;
}

.card.card--post time {
  color: $black;
  width: 10rem;
  margin-right: 2rem;
  text-align: right;
}

.card.card--post time + span {
  text-decoration: underline;
}

@media screen and (max-width: 769px) {
  .temps-fort a {
    flex-direction: column;
  }
}


/**
 * Footer
 */
.footer ul.is-flex {
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 769px) {
  .footer ul.is-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .footer ul.is-flex {
    justify-content: center;
  }
}
