{% macro form (id, calendar, action, title=true, description=true, submit="Je transmets ces informations") %}
  {% set formData = ncForms[id] %}
  {% set emailRe = r/\We?-?mail/i %}
  {% set phoneRe = r/téléphone/i %}
  {% set nameRe = r/\W(pré)?nom/i %}
  {% set locationRe = r/\W(lieu|adresse)/i %}
<article>
  {%- if title %}<h1>{{ formData.title }}</h1>{% endif -%}
  {%- if formData.description and description -%}
  <p>{{ formData.description | safe }}</p>
  {%- endif -%}
  <form method="post" class="form nextcloud-form" action="{{ action }}" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="formId" value="{{ formData.id }}">
    <div class="message is-success is-hidden" id="form-success">
      <div class="message-body">
        C'est bon, la demande est prise en compte.
      </div>
    </div>
    <div class="message is-danger is-hidden" id="form-error">
      <div class="message-body">
        Oups, un problème s'est produit. On s'en occupe dès qu'on peut.
      </div>
    </div>
    {%- for field in formData.questions -%}
      {{- text(field) if field.type == 'short' and not (emailRe.test(field.text) or phoneRe.test(field.text) or nameRe.test(field.text) or locationRe.test(field.text)) -}}
      {{- email(field) if field.type == 'short' and emailRe.test(field.text) -}}
      {{- phone(field) if field.type == 'short' and phoneRe.test(field.text) -}}
      {{- name(field) if field.type == 'short' and nameRe.test(field.text) -}}
      {{- location(field) if field.type == 'short' and locationRe.test(field.text) and not emailRe.test(field.text) -}}
      {{- textarea(field) if field.type == 'long' -}}
      {{- dateselect(field, calendar) if field.type == 'date' and calendar -}}
      {{- dateselect(field, calendar) if field.type == 'datetime' and calendar -}}
      {{- date(field) if field.type == 'date' and not calendar -}}
      {{- checkboxes(field) if field.type == 'multiple' -}}
      {{- radio(field) if field.type == 'multiple_unique' -}}
    {%- endfor -%}
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary" type="submit">{{ submit }}</button>
      </div>
    </div>
  </form>
</article>
{% endmacro %}

{% macro text(field) %}
  <div class="field" data-field-id={{ field.id }}>
    <label class="label {{ 'required' if field.isRequired }}" for="form-{{ field.formId }}-field-{{ field.id }}">{{ field.text }}</label>
    <div class="control">
      <input id="form-{{ field.formId }}-field-{{ field.id }}" class="input" type="text" {{ 'required' if field.isRequired }} name="answers[{{ field.id }}][]">
    </div>
  </div>
{% endmacro %}

{% macro email(field) %}
  <div class="field" data-field-id={{ field.id }}>
    <label class="label {{ 'required' if field.isRequired }}" for="form-{{ field.formId }}-field-{{ field.id }}">{{ field.text }}</label>
    <div class="control has-icons-left">
      <input id="form-{{ field.formId }}-field-{{ field.id }}" class="input" type="email" {{ 'required' if field.isRequired }} name="answers[{{ field.id }}][]">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>
{% endmacro %}

{% macro date(field) %}
  <div class="field" data-field-id={{ field.id }}>
    <label class="label {{ 'required' if field.isRequired }}" for="form-{{ field.formId }}-field-{{ field.id }}">{{ field.text }}</label>
    <div class="control has-icons-left">
      <input id="form-{{ field.formId }}-field-{{ field.id }}" class="input" type="date" {{ 'required' if field.isRequired }} name="answers[{{ field.id }}][]">
      <span class="icon is-small is-left">
        <i class="fas fa-calendar"></i>
      </span>
    </div>
  </div>
{% endmacro %}

{% macro phone(field) %}
  <div class="field" data-field-id={{ field.id }}>
    <label class="label {{ 'required' if field.isRequired }}" for="form-{{ field.formId }}-field-{{ field.id }}">{{ field.text }}</label>
    <div class="control has-icons-left">
      <input id="form-{{ field.formId }}-field-{{ field.id }}" class="input" type="tel" {{ 'required' if field.isRequired }} name="answers[{{ field.id }}][]">
      <span class="icon is-small is-left">
        <i class="fas fa-phone-square-alt"></i>
      </span>
    </div>
  </div>
{% endmacro %}

{% macro name(field) %}
  <div class="field" data-field-id={{ field.id }}>
    <label class="label {{ 'required' if field.isRequired }}" for="form-{{ field.formId }}-field-{{ field.id }}">{{ field.text }}</label>
    <div class="control has-icons-left">
      <input id="form-{{ field.formId }}-field-{{ field.id }}" class="input" type="text" {{ 'required' if field.isRequired }} name="answers[{{ field.id }}][]">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>
{% endmacro %}

{% macro location(field) %}
  <div class="field" data-field-id={{ field.id }}>
    <label class="label {{ 'required' if field.isRequired }}" for="form-{{ field.formId }}-field-{{ field.id }}">{{ field.text }}</label>
    <div class="control has-icons-left">
      <input id="form-{{ field.formId }}-field-{{ field.id }}" class="input" type="text" {{ 'required' if field.isRequired }} name="answers[{{ field.id }}][]">
      <span class="icon is-small is-left">
        <i class="fas fa-map-marker"></i>
      </span>
    </div>
  </div>
{% endmacro %}

{% macro textarea(field) %}
  <div class="field" data-field-id={{ field.id }}>
    <label class="label {{ 'required' if field.isRequired }}" for="form-{{ field.formId }}-field-{{ field.id }}">{{ field.text }}</label>
    <div class="control">
      <textarea id="form-{{ field.formId }}-field-{{ field.id }}" class="textarea" {{ 'required' if field.isRequired }} name="answers[{{ field.id }}][]"></textarea>
    </div>
  </div>
{% endmacro %}

{% macro checkboxes(field) %}
  <div class="field" data-field-id={{ field.id }}>
    <label class="label {{ 'required' if field.isRequired }}">{{ field.text }}</label>
    <div class="control is-vertical">
      {%- for option in field.options -%}
      <label class="checkbox">
        <input type="checkbox" name="answers[{{ option.questionId }}][]" value="{{ option.id }}" {{ 'required' if (field.isRequired and field.options.length === 1)}}>
        {{ option.text }}
      </label>
      {%- endfor -%}
    </div>
  </div>
{% endmacro %}

{% macro radio(field) %}
  <div class="field" data-field-id={{ field.id }}>
    <label class="label {{ 'required' if field.isRequired }}">{{ field.text }}</label>
    <div class="control is-vertical">
      {%- for option in field.options -%}
      <label class="radio">
        <input type="radio" name="answers[{{ option.questionId }}][]" value="{{ option.id }}">
        {{ option.text }}
      </label>
      {%- endfor -%}
    </div>
  </div>
{% endmacro %}

{% macro dateselect(field, options) %}
  <div class="field" data-field-id={{ field.id }}>
    <label class="label {{ 'required' if field.isRequired }}" for="form-{{ field.formId }}-field-{{ field.id }}">{{ field.text }}</label>
    <div class="control has-icons-left">
      <div class="select">
        <select name="answers[{{ field.id }}][]" id="form-{{ field.formId }}-field-{{ field.id }}" {{ 'required' if field.isRequired }}>
          <option value="">Choisir une date</option>
          {%- for event in options -%}
          <option value="{{ event.startDate | toDateTime }}" data-event="{{ event.uid }}">
            {{ event.startDate | toDateTime }}{% if (event.location | locationMode).mode != 'ROUTE' %} ({{ event.location | locationShort('en visio') }}){% endif %}
          </option>
          {%- endfor -%}
        </select>
      </div>
      <span class="icon is-small is-left">
        <i class="fas fa-calendar-check"></i>
      </span>
    </div>
  </div>
{% endmacro %}
