<figure class="image is-fullwidth graphique-entrepreneures has-text-centered">
  <a href="{{ '/entrepreneures/' | url }}">
    <svg width="300" height="300">
      <desc>Les {{ entrepreneures.length }} entrepreneur·es de la coopérative d'activité Solstice</desc>
    </svg>
    <legend>Les {{ entrepreneures.length }} entrepreneur·es de la coopérative d'activité Solstice</legend>
  </a>
</figure>

<script type="application/json">{{ entrepreneures | dump | safe }}</script>
<script type="module" src="{{ '/js/controllers/chart.js' | url }}" defer></script>
