---
layout: main.njk
---

<section class="section">
  <p class="title is-1 is-spaced">{{ title | safe }}</p>
  <p class="subtitle is-2">{{ subtitle }}</p>
</section>

<section class="columns">
  <div class="column is-half">
    <p>
      <strong>Nous rejoindre en 3 étapes</strong> :
    </p>

    <ol>
      <li><b>découvrir le fonctionnement</b> CAE lors d'une réunion d’information</li>
      <li><b>affiner mon projet</b> avec ma personne accompagnante</li>
      <li><b>démarrer</b> mon contrat</li>
    </ol>

    <p>
      <a href="{{ '/nous-rejoindre' | url }}" class="button is-cta">Nous rejoindre</a>
    </p>

    <p class="mt-5">{{ extra }}</p>
  </div>

  <div class="column">
    {% include './graphique-entrepreneures.html' %}
  </div>
</section>

<section class="section content">
  {{ content | safe }}
</section>
