<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{{ seo.title | default(title) }} • CAE Solstice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/fonts/fontawesome5-free/fontawesome.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/fonts/fontawesome5-free/brands.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/fonts/fontawesome5-free/solid.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    <script type="module" src="{{ '/js/controllers/forms.js' | url }}"></script>
    <script type="module" src="{{ '/js/controllers/navbar.js' | url }}"></script>
    {%- for script in scripts -%}
    <script type="module" src="{{ script | url }}"></script>
    {%- endfor %}
    <link rel="icon" type="image/svg+xml" href="{{ '/img/solstice.svg' | url }}">
  </head>

  <body>
    <nav class="skiplinks" aria-label="Liens d'évitement">
      <ul>
        <li><a class="is-sr-only-focusable" href="#nav">Accéder à la navigation</a></li>
        <li><a class="is-sr-only-focusable" href="#main">Accéder au contenu</a></li>
        <li><a class="is-sr-only-focusable" href="#footer">Accéder au pied de page</a></li>
      </ul>
    </nav>

    <nav class="navbar">
      <div class="container is-max-widescreen">
        <div class="navbar-brand">
          <a href="{{ '/' | url }}" class="navbar-item">
            <img src="{{ '/img/logo_solstice.jpg' | url }}" class="logo" alt="Solstice">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <nav id="nav" role="navigation" class="navbar-menu" aria-label="navigation principale">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ '/' | url }}" {{ 'aria-current=page' if page.url == '' }}>Accueil</a>
            {% set navPages = collections.all | eleventyNavigation('Accueil') | rejectattr('hidden') %}
            {% for nav in navPages %}
            <a class="navbar-item" href="{{ nav.url | url }}" {{ 'aria-current=page' if page.url.startsWith(nav.url) }}>{{ nav.title }}</a>
            {% endfor %}
          </div>
        </nav>
      </div>
    </nav>

    <main class="container is-max-widescreen" id="main">
      {% if eleventyNavigation.key %}
      {% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, navOptions) %}
      {% if navPages.length > 1 %}
      <nav class="breadcrumb has-arrow-separator pl-3" aria-label="breadcrumbs">
        <ul>
          {% for nav in navPages %}
            <li {{ 'class=is-active' if nav.url == page.url }}><a href="{{ nav.url | url }}" {{ 'aria-current=page' if nav.url == page.url }}>{{ nav.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
      {% endif %}

      <div class="{% if page.templateSyntax == 'md' %}content{% endif %}">
        {{ content | safe }}
      </div>
    </main>

    <footer class="footer container is-max-widescreen" id="footer">
      <ul class="is-flex">
        <li><a href="{{ '/credits/' | url }}">Crédits</a></li>
        <li><a href="{{ '/mentions-legales/' | url }}">Mentions légales</a></li>
        <li><a href="{{ '/protection-des-donnees/' | url }}">Protection des données</a></li>
        <li><a href="https://www.linkedin.com/groups/13807439/" target="_blank" rel="noopener noreferrer">
          <span class="icon"><i class="fab fa-linkedin"></i></span>
          Communauté LinkedIn
        </a></li>
        <li><a href="{{ '/contact' | url }}">
          <span class="icon"><i class="fas fa-envelope"></i></span>
          Contact
        </a></li>
      </ul>
    </footer>
  </body>
</html>
